<launch>
	<arg name="marker_size" default="5.6" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />

	<arg name="cam_image_topic" default="/kinect2/qhd/points" />
	<arg name="cam_info_topic" default="/kinect2/qhd/camera_info" />
	<arg name="output_frame" default="/base" />

    <arg name="med_filt_size" default="100" />
	<arg name="bundle_files" default="$(find ar_track_alvar)/bundles/table_0_1_2_3.xml" />

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundles" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg med_filt_size) $(arg bundle_files)" />
	<!-- <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundles" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />
		<param name="med_filt_size"          type="double" value="$(arg med_filt_size)" />
		<param name="bundle_files"          type="list" value="$(arg bundle_files)" />
		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node> -->
</launch>
